html,
body {
  font-family: "Proxima Nova";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

* {
  outline: none;
}

header.header {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

header.header .header_container_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #F35D51;
}

header.header .header_container_upper_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 0;
}

header.header .header_container_upper_box_icon {
  margin-right: 10px;
}

header.header .header_container_upper_box_arrow {
  margin-left: 10px;
  cursor: pointer;
}

header.header .header_container_upper_box_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .header_container_upper_box_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  z-index: 99;
}

header.header .header_container_upper_box_dropdown.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

header.header .header_container_upper_box_dropdown_item {
  margin-left: 25px;
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  color: #313A59;
}

header.header .header_container_lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .header_container_lower .header_container_lower_menu {
  display: none;
}

header.header .header_container_lower .head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .header_container_lower .head-wrap_lang {
  margin: 25px 0 40px 0;
}

header.header .header_container_lower_box {
  padding: 25px 10px 40px 10px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

header.header .header_container_lower_box:hover {
  background: #F35D51;
}

header.header .header_container_lower_box:hover .header_container_lower_box_link {
  text-decoration: none;
  color: #fff;
}

header.header .header_container_lower_box:hover .header_container_lowew_box_arrow path {
  fill: #fff;
}

header.header .header_container_lower_box_link {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  height: 100%;
  color: #313A59;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

header.header .header_container_lower_box_arrow {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

header.header .header_container_lower_box.relative_link {
  position: relative;
}

header.header .header_container_lower_box .drowdown {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  opacity: 0;
  visibility: hidden;
  min-width: 100px;
  z-index: 999;
}

header.header .header_container_lower_box .drowdown.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

header.header .header_container_lower_box .drowdown_item {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  color: #313A59;
}

header.header .header_container_lower_link {
  padding: 25px 10px 40px 10px;
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #313A59;
}

header.header .header_container_lower_link:hover {
  background: #F35D51;
  text-decoration: none;
  color: #fff;
}

header.header .header_container_lower_auth {
  margin: 25px 0 40px 0;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header .header_container_lower_auth_icon {
  margin-right: 10px;
}

header.header .header_container_lower_auth_link {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  color: #313A59;
}

header.header .header_container_lower_auth_span {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  margin: 0 5px;
  color: #313A59;
}

header.header .header_container_lower_lang {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  color: #313A59;
}

header.header .header_container_lower_lang.active {
  color: #F35D51;
}

header.header .header_container_lower_span {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  margin: 0 3px;
  color: #313A59;
}

header.header .header_container_lower_basket {
  margin: 20px 0 40px 0;
  position: relative;
}

header.header .header_container_lower_basket_count {
  position: absolute;
  top: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 12px;
  color: #FFFFFF;
}

footer.footer {
  background: #2C303C;
}

footer.footer .footer_grid {
  padding: 30px 0 10px 0;
}

footer.footer .footer_grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer.footer .footer_grid_item_text {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 24px;
  color: #FFFFFF;
}

footer.footer .footer_grid_item_input {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  padding: 14px 30px;
  color: #888888;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
}

footer.footer .footer_grid_item_btn {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  text-align: center;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  background: #F45E52;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  width: 100%;
}

footer.footer .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 0.5px solid #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer.footer .footer_nav_logo_icon {
  max-width: 101px;
  width: 100%;
}

footer.footer .footer_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.footer .footer_nav_list_item {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  margin: 0 10px;
  color: #FFFFFF;
}

footer.footer .footer_nav_tel {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
}

footer.footer .footer_copyright {
  padding: 30px 0;
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

section.pagePath {
  background: #F5F5F5;
  margin-top: 3px;
}

section.pagePath .breadcrumb {
  background: transparent;
}

section.pagePath .breadcrumb-item a {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  color: #626262;
}

section.pagePath .breadcrumb-item a:hover {
  text-decoration: none;
  color: #626262;
}

section.pagePath .breadcrumb .breadcrumb-item.active {
  color: #111;
}

section.pagePath .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

section.garantySection {
  padding: 60px 0;
}

section.garantySection .garanty_container_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 36px;
  text-align: center;
  text-align: center;
  color: #313A59;
  margin-bottom: 30px;
}

section.garantySection .garanty_container_text {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  color: #626262;
  margin-bottom: 50px;
}

section.garantySection .garanty_container_subtitle {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 24px;
  text-align: center;
  text-align: center;
  color: #313A59;
  max-width: 1100px;
  margin-bottom: 25px;
}

section.garantySection .garanty_container_grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

section.garantySection .garanty_container_grid_item_icon {
  margin-bottom: 30px;
}

section.garantySection .garanty_container_grid_item_icon path {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

section.garantySection .garanty_container_grid_item_text {
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #313A59;
}

section.garantySection .garanty_container_grid_item:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

section.garantySection .garanty_container_grid_item:hover .garanty_container_grid_item_icon path {
  fill: #F35D51;
}

section.blogSection {
  padding: 60px 0;
}

section.blogSection .blogSection_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  color: #313A59;
}

section.blogSection .blog_container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

section.blogSection .blog_container_box:hover .blog_container_box_item {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

section.blogSection .blog_container_box_img {
  width: 45%;
}

section.blogSection .blog_container_box_item {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

section.blogSection .blog_container_box_item_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  margin-bottom: 10px;
  color: #313A59;
}

section.blogSection .blog_container_box_item_text {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 14px;
  color: #626262;
}

section.blogSection .blog_pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.blogSection .blog_pagination_item {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  margin: 0 2px;
  color: #313A59;
}

section.blogSection .blog_pagination_item.currentPage {
  font-family: "Proxima Nova Semibold";
}

section.shin_advantages {
  padding: 60px 0;
}

section.shin_advantages .advantages_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #313A59;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

section.shin_advantages .advantages_container_box {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 0;
  border-radius: 0px 38px 0px 0px;
}

section.shin_advantages .advantages_container_box:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 38px 0px 0px;
}

section.shin_advantages .advantages_container_box:hover .advantages_container_box_item {
  background: #F35D51;
  border-radius: 0px 38px 0px 0px;
}

section.shin_advantages .advantages_container_box:hover .advantages_container_box_icon path {
  fill: #fff;
}

section.shin_advantages .advantages_container_box_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 38px 0px 0px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

section.shin_advantages .advantages_container_box_icon {
  width: 68px;
}

section.shin_advantages .advantages_container_box_icon path {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

section.shin_advantages .advantages_container_box_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px 30px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.shin_advantages .advantages_container_box_text p {
  text-align: center;
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #626262;
}

section.note_form {
  padding: 60px 0 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.note_form .note_form_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}

section.note_form .note_form_container_item {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  color: #888888;
}

section.note_form .note_form_container_item_input {
  outline: none;
  border: none;
}

section.note_form .note_form_container_item_btn {
  color: #FFFFFF;
  background: #F45E52;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

section.price_section {
  padding: 60px 0;
}

section.price_section .price_title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
  color: #313A59;
}

section.price_section .price_subtitle {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #626262;
}

section.price_section .price_container_item {
  cursor: pointer;
  margin-bottom: 30px;
}

section.price_section .price_container_item:hover .price_container_item_table {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

section.price_section .price_container_item_header {
  padding: 10px 15px;
  width: 100%;
  background: #313A59;
}

section.price_section .price_container_item_header_text {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

section.price_section .price_container_item .table td, section.price_section .price_container_item .table th {
  border: none;
  padding: 0 30px;
}

section.price_section .price_container_item_table {
  padding: 10px 15px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

section.price_section .price_container_item_table thead {
  background: #F5F5F5;
}

section.price_section .price_container_item_table thead th {
  padding: 10px 30px !important;
}

section.price_section .price_container_item_table th, section.price_section .price_container_item_table td {
  font-family: "Proxima Nova";
  line-height: 33px;
  font-size: 15px;
  color: #626262;
}

section.price_section .price_container_desc {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
  color: #313A59;
}

section.price_section .price_container_item .table .al-right {
  text-align: right;
}

@media screen and (max-width: 1100px) {
  header.header .header_container_lower_link {
    padding-left: 5px;
    padding-right: 5px;
  }
  header.header .header_container_lower_box {
    padding-left: 5px;
    padding-right: 5px;
  }
  header.header .header_container_lower_auth {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 991px) {
  .header_container_lower_menu {
    display: block;
    width: 30px;
  }
  header.header .header_container_lower_link {
    display: none;
  }
  header.header .header_container_lower_box.relative_link {
    display: none;
  }
  header.header .header_container_lower_auth {
    margin: 0 5px;
    margin-left: 10vw;
  }
  header.header .header_container_lower_basket {
    margin: 0 5px;
  }
  header.header .header_container_lower .head-wrap_lang {
    margin: 0 5px;
  }
  header.header .header_container_lower {
    padding: 10px 0;
  }
  footer.footer .footer_nav_list_item {
    margin-bottom: 10px;
  }
  footer.footer .footer_nav_logo_icon {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  header.header .header_container_upper_box.tablet_hidden {
    display: none;
  }
  header.header .header_container_upper_box_dropdown {
    left: unset;
    right: 0;
  }
  section.shin_advantages .advantages_title {
    font-size: 24px;
  }
  section.shin_advantages .advantages_container_box_text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  footer.footer .footer_nav_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  header.header .header_container_lower_auth {
    margin-left: 5px;
  }
  section.blogSection .blog_container_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blogSection .blog_container_box_img {
    width: 100%;
  }
  section.blogSection .blog_container_box_item {
    min-height: unset;
    padding: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

@media screen and (max-width: 425px) {
  section.garantySection .garanty_container_grid_item_text {
    font-size: 16px;
  }
  section.garantySection .garanty_container_subtitle {
    font-size: 20px;
  }
  footer.footer .footer_grid_item_input {
    font-size: 16px;
  }
  footer.footer .footer_grid_item_btn {
    font-size: 16px;
  }
  header.header .header_container_lower_auth_link {
    display: none;
  }
  header.header .header_container_lower_auth_span {
    display: none;
  }
  header.header .header_container_lower_auth {
    margin-left: 10vw;
  }
  header.header .header_container_lower_link_logo_item {
    width: 70px;
  }
  header.header .header_container_upper_box_icon {
    margin-right: 5px;
  }
  header.header .header_container_upper_box_text {
    font-size: 12px;
  }
  header.header .header_container_upper_box_dropdown_item {
    font-size: 12px;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */