@media screen and (max-width:1100px){
    header.header .header_container_lower_link{
        padding-left: 5px;
        padding-right: 5px;
    }
    header.header .header_container_lower_box{
        padding-left: 5px;
        padding-right: 5px;
    }
    header.header .header_container_lower_auth{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width:1000px){
    section.first_section .section_container_box{
        position: static;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    section.first_section .section_container .slider .slide > div{
        justify-content: center;
        margin-top: 30px;
    }
    section.first_section .section_container .slick-dots{
        left: 50%;
        transform: translateX(-50%);
    }
    section.first_section .section_container .arrow.right{
        left: unset;
        right: 20%;
    }
    section.first_section .section_container .arrow.left{
        left: 20%;
    }
}
@media screen and (max-width:991px){
    .header.header .header_container_lower .header_container_lower_menu{
        display: block;
        width: 30px;
    }
    header.header .header_container_lower_link{
        display: none;
    }
    header.header .header_container_lower_box.relative_link{
        display: none;
    }
    header.header .header_container_lower_auth{
        margin: 0 5px;
        margin-left: 10vw;
    }
    header.header .header_container_lower_basket{
        margin: 0 5px;
    }
    header.header .header_container_lower .head-wrap_lang{
        margin: 0 5px;
    }
    header.header .header_container_lower{
        padding: 10px 0;
    }
    footer.footer .footer_nav_list_item{
        margin-bottom: 10px;
    }
    footer.footer .footer_nav_logo_icon{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:900px){
    section.contacts_section .contacts_container_box{
        flex-direction: column;
        &_card{
            width: 100%;
        }
    }
    section.contacts_section .contacts_container .contacts_square-first{
        right: 10%;
    }
    section.contacts_section .contacts_container .contacts_square-second{
        right: 0%;
    }
}
@media screen and (max-width:768px){
    header.header .header_container_upper_box.tablet_hidden{
        display: none;
    }
    header.header .header_container_upper_box_dropdown{
        left: unset;
        right: 0;
    }
    section.shin_advantages .advantages_title{
        font-size: 24px;
    }
    section.shin_advantages .advantages_container_box_text p{
        font-size: 18px;
    }
    .bg-2{
        display: none;
    }
}
@media screen and (max-width:767px){
    section.catalog_section .catalog_container{
        align-items: center;
        flex-direction: column;
    }
    section.catalog_section .catalog_container .goods_right-bar{
        margin-top: 30px;
    }
    section.catalog_section .catalog_container_left-bar{
        margin-right: 0;
    }
}
@media screen and (max-width:700px){
    footer.footer .footer_nav_list{
        flex-wrap: wrap;
    }
    section.good_section .good_container_item_header{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width:500px){
    header.header .header_container_lower_auth{
        margin-left: 5px;
    }
    section.blogSection .blog_container_box{
        flex-direction: column;
    }
    section.blogSection .blog_container_box_img{
        width: 100%;
    }
    section.blogSection .blog_container_box_item{
        min-height: unset;
        padding: 0;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
}
@media screen and (max-width:600px){
    section.first_section .section_container .slider .slide > div{
        flex-direction: column;
    }
    section.first_section .section_container_box{
        max-width: unset;
        width: 100%;
    }
    section.first_section .section_container_image{
        margin-top: 30px;
        width: 100%;
    }
}
@media screen and (max-width:500px){
    section.contacts_section .contacts_container_box_map iframe{
        height: 300px;
    }
    section.contacts_section .contacts_container .contacts_square-second{
        right: -30%;
    }
    section.contacts_section .contacts_container .contacts_square-first{
        right: -10%;
    }
    section.video_section .video_container_item_title{
        font-size: 30px;
    }
    section.video_section .video_container_item_text{
        font-size: 18px;
    }
}
@media screen and (max-width:425px){
    section.garantySection .garanty_container_grid_item_text{
        font-size: 16px;
    }
    section.garantySection .garanty_container_subtitle{
        font-size: 20px;
    }
    footer.footer .footer_grid_item_input{
        font-size: 16px;
    }
    footer.footer .footer_grid_item_btn{
        font-size: 16px;
    }
    header.header .header_container_lower_auth_link{
        display: none;
    }
    header.header .header_container_lower_auth_span{
        display: none;
    }
    header.header .header_container_lower_auth{
        margin-left: 10vw;
    }
    header.header .header_container_lower_link_logo_item{
        width: 70px;
    }
    header.header .header_container_upper_box_icon{
        margin-right: 5px;
    }
    header.header .header_container_upper_box_text{
        font-size: 12px;
    }
    header.header .header_container_upper_box_dropdown_item{
        font-size: 12px;
        text-align: right;
    }
    section.good_section .good_container_item_header_cost{
        font-size: 30px;
    }
    section.good_section .good_container_item_header_title{
        font-size: 30px;
    }
    section.good_section .good_container_item_desc{
        font-size: 18px;
    }
}