
header.header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    .header_container{
        &_upper{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 0.5px solid #F35D51;
            &_box{
                display: flex;
                background: transparent;
                align-items: center;
                position: relative;
                padding: 5px 0;
                &_icon{
                    margin-right: 10px;
                }
                &_text{

                }
                &_arrow{
                    margin-left: 10px;
                    cursor: pointer;
                }
                &_link{
                    display: flex;
                    align-items: center;
                }
                &_dropdown{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    // right: 0;
                    padding: 10px;
                    box-sizing: border-box;
                    background: #fff;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    opacity: 0;
                    visibility: hidden;
                    min-width: 200px;
                    z-index: 99;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                        transition: all .4s ease-out;
                    }
                    &_item{
                        margin-left: 25px;
                        font-family: $regular;
                        line-height: normal;
                        font-size: 16px;
        
                        color: #313A59;
                    }
                }
            }
        }
        &_lower{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header_container_lower_menu{
                display: none;
            }
            .head-wrap{
                display: flex;
                align-items: center;
                &_lang{
                    margin: 25px 0 40px 0;
                }
            }
            &_box{
                padding: 25px 10px 40px 10px;
                transition: all .2s ease-out;
                &:hover{
                    background: #F35D51;
                    .header_container_lower_box_link{
                        text-decoration: none;
                        color: #fff;
                    }
                    .header_container_lowew_box_arrow path{
                        fill: #fff;
                    }
                }
                &_link{
                    font-family: $regular;
                    line-height: normal;
                    font-size: 16px;
                    height: 100%;
                    color: #313A59;
                    transition: all .2s ease-out;
                }
                &_arrow{
                    transition: all .2s ease-out;
                }
                &.relative_link{
                    position: relative;
                }
                .drowdown{
                    position: absolute;
                    top: 50px;
                    left: 0;
                    // right: 0;
                    padding: 10px;
                    box-sizing: border-box;
                    background: #fff;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    opacity: 0;
                    visibility: hidden;
                    min-width: 100px;
                    z-index: 999;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                        transition: all .4s ease-out;
                    }
                    &_item{
                        // margin-left: 25px;
                    font-family: $regular;
                    line-height: normal;
                    font-size: 16px;
    
                    color: #313A59;
                    }
                }
            }
            &_link{
                padding: 25px 10px 40px 10px;
                font-family: $regular;
                line-height: normal;
                font-size: 16px;
                transition: all .2s ease-out;
                color: #313A59;
                &:hover{
                    background: #F35D51;
                    text-decoration: none;
                    color: #fff;
                }
            }
            &_logo{
                &_item{

                }
            }
            &_auth{
                margin: 25px 0 40px 0;
                margin-left: 30px;
                display: flex;
                align-items: center;
                &_icon{
                    margin-right: 10px;
                }
                &_link{
                    font-family: $regular;
                    line-height: normal;
                    font-size: 14px;
                    
                    color: #313A59;
                }
                &_span{
                    font-family: $regular;
                    line-height: normal;
                    font-size: 14px;
                    margin: 0 5px;
                    
                    color: #313A59;
                }
            }
            &_lang{
                font-family: $regular;
                line-height: normal;
                font-size: 14px;
                
                color: #313A59;
                &.active{
                    color: #F35D51;
                }
            }
            &_span{
                font-family: $regular;
                line-height: normal;
                font-size: 14px;
                margin: 0 3px;
                
                color: #313A59;
            }
            &_basket{
                margin: 20px 0 40px 0;
                position: relative;
                &_icon{

                }
                &_count{
                    position: absolute;
                    top: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-family: $regular;
                    line-height: normal;
                    font-size: 12px;

                    color: #FFFFFF;
                }
            }
        }
    }
} 